.flex-container{
    padding: 15px 5% ;
    background-color:black;
    border: ;
}
.main-body-container{
    padding: 15px 5%;
    background-color: royalblue; 
}
h1{
    color: red;
    border-style:groove;
    background-color: royalblue;
}